.customfieldbutton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0 0.5rem;
}
.editbutton {
  width: 1rem;
  cursor: pointer;
  fill: rgb(66, 151, 255);
}
.deletbutton {
  width: 1rem;
  cursor: pointer;
  fill: rgb(214, 21, 21);
}
