.loader {
  margin: auto;
  width: 3rem;
  height: 3rem;
  animation: loader-spin infinite 0.8s linear;
}
@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
